<form name="form" (ngSubmit)="f.form.valid && createArticle()" #f="ngForm" novalidate>

    <label for="title">Название</label>
    <input type="text" class="input-field" name="title" [(ngModel)]="newArticle.title" #title="ngModel" required maxlength="254"/>
    <div *ngIf="f.submitted && !title.valid" class="help-block">Введите название статьи.</div>

    <label for="content">Текст статьи</label>
    <textarea type="text" class="input-field" name="content" [(ngModel)]="newArticle.content" #content="ngModel" required maxlength="100000">  </textarea>
    <div *ngIf="f.submitted && !content.valid" class="help-block">Введите содержимое статьи.</div>

    <button  type="submit" class="button-bordered">Опубликовать</button>
</form>