<div >
    <form name="form" (ngSubmit)="f.form.valid && createNewGroup()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !stage.valid }">
            <label for="stage">Этап</label>
            <select class="form-control" name="stage" [(ngModel)]="newGroup.stage" #stage="ngModel" required>
                <option value="1">Новичок</option>
                <option value="2">Середнячок</option>
                <option value="3">Качок</option>
            </select>
            <div *ngIf="f.submitted && !stage.valid" class="help-block">Неверное значение этапа.</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !active.valid }">
            <label for="active">Активирована</label>
            <select class="form-control" name="active" [(ngModel)]="newGroup.active" #active="ngModel" required>
                <option value="true">Да</option>
                <option value="false">Нет</option>
            </select>
            <div *ngIf="f.submitted && !active.valid" class="help-block">Неверное значение статуса группы.</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !active.valid }">
            <label for="coach">Тренер</label>
            <user-select name="coach" (notify)="onSelectNotification($event)" [users]="coaches"></user-select>
        </div>
        <button type="'submit" class="btn btn-primary">Создать группу</button>
    </form>
</div>