<div *ngFor="let group of groups">
    <button class="accordion group" (click)="toggleContent($event)"><span class="fa fa-angle-right"></span> Группа {{group.id}}</button>

    <div class="accordion-content">
        <div *ngFor="let user of users | filter : 'groupId' : group.id">
            <button class="accordion user" (click)="toggleContent($event)" ><span class="fa fa-angle-right"></span> {{user.login}} ({{user.name}} {{user.surname}})</button>
            <div class="accordion-content">
                <div class="progress-line-wrapper">
                    <div *ngFor="let day of dailyReports | filter : 'userId' : user.id">
                        <div class="day-container {{day.grade}}" >
                            <input type="hidden" class="report-id" value="{{day.id}}"  />
                            <div class="day-header">
                                <div class="day-separator"><span class="fa fa-{{markViewClass[day.grade]}}"></span></div>
                                <span class="day-date"><span class="fa fa-calendar"> </span>{{day.createdAt}}</span>
                            </div>
                            <div class="day-content ">
                                <div class="user-post-container">
                                    <div class="user-header">
                                        <img class="user-avatar" src="{{imgPlaceholder}}">
                                        <div class="user-name">{{user.login}} <span class="fullname">{{user.name}} {{user.surname}}</span></div>
                                    </div>
                                    <div class="text">{{day.content}}</div>
                                    <div class="photos">
                                        {{PHOTOS}}
                                    </div>
                                </div>
                                <div class="comment-container">
                                    <div class="day-mark-title">Оценка:</div>
                                    <div class="day-mark">
                                        <span *ngIf="day.grade !== 'empty'" class="fa fa-{{markViewClass[day.grade]}}"></span>
                                        <div *ngIf="day.grade === 'empty'">Тренер пока не оставил вам оценку.</div>
                                        <div class="mark-comment">
                                            {{day.comment}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="update-mark" name="form" (ngSubmit)="f.form.valid && submitRatingForm(day)" #f="ngForm" novalidate>
                                <p class="update-mark-header">Как вы оцениваете этот отчёт?</p>
                                <select class="report-mark form-control" name="mark" [(ngModel)]="day.shadowMark" #mark="ngModel" required>
                                    <option value="empty">Без оценки</option>
                                    <option value="good">Хорошо</option>
                                    <option value="neutral">Нейтрально</option>
                                    <option value="bad">Плохо</option>
                                </select>
                                <div *ngIf="f.submitted && !mark.valid" class="help-block">Mark is required</div>
                                <textarea  type="text" class="form-control report-comment-text" placeholder="Комментарий к оценке" name="text" [(ngModel)]="day.shadowText" #text="ngModel" required></textarea>
                                <div *ngIf="f.submitted && !text.valid" class="help-block">Comment text is required</div>
                                <button class="btn-rate-report">Применить</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
