<div class="userDataContainer">
  <table class="table-userData">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Логин</th>
      <th>Роль</th>
      <th>E-mail</th>
      <th>Рост</th>
      <th>Вес</th>
      <th>Дата рождения</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td data-th="ID">{{user.id}}</td>
      <td data-th="Имя" >{{user.name}}</td>
      <td data-th="Фамилия" >{{user.surname}}</td>
      <td data-th="Логин">{{user.login}}</td>
      <td data-th="Роль">{{user.role}}</td>
      <td data-th="E-mail" >{{user.email}}</td>
      <td data-th="Пол" >{{user.userData.gender}}</td>
      <td data-th="Рост" >{{user.userData.height}}</td>
      <td data-th="Вес" >{{user.userData.weight}}</td>
      <td data-th="Дата рождения" >{{user.userData.birthdate | date: 'dd.MM.yyyy'}}</td>
      <td><button (click)="editUser(user)" class="button-bordered">Редактировать</button></td>
      <td><button (click)="deleteUser(user.id)" class="button-bordered"><span class="fa fa-trash-o"></span></button></td>
    </tr>
    </tbody>
  </table>

</div>

<modal>
  <div class="m-header">
    <h3><span class="fa fa-pencil"></span> Редактирование пользователя</h3>
  </div>
  <div class="m-body">
    <form name="form" (ngSubmit)="f.form.valid && applyChangesToUser()" #f="ngForm" novalidate>

      <label for="login">Логин</label>
      <input type="text" class="input-field" name="login" [(ngModel)]="selectedUser.login" #login="ngModel" required />
      <div *ngIf="f.submitted && !login.valid" class="help-block">Логин обязателен.</div>

      <label for="name">Имя</label>
      <input type="text" class="input-field" name="name" [(ngModel)]="selectedUser.name" #name="ngModel" required />
      <div *ngIf="f.submitted && !name.valid" class="help-block">Имя обязательно.</div>

      <label for="surname">Фамилия</label>
      <input type="text" class="input-field" name="surname" [(ngModel)]="selectedUser.surname" #surname="ngModel" required />
      <div *ngIf="f.submitted && !surname.valid" class="help-block">Фамилия обязательна.</div>

      <label for="role">Роль</label>
      <select [(ngModel)]="selectedUser.role" name="role" #role="ngModel"  class="input-field">
        <option value="USER" >Пользователь</option>
        <option value="COACH">Тренер</option>
        <option value="ADMIN">Администратор</option>
      </select>
      <div *ngIf="f.submitted && !role.valid" class="help-block">Роль обязательна.</div>

      <label for="height">Рост</label>
      <input type="number" class="input-field" name="height" [(ngModel)]="selectedUser.userData.height" #height="ngModel" min="100" max="250" pattern="[0-9]{2,3}" />
      <div *ngIf="f.submitted && !height.valid" class="help-block">Введите рост в сантиметрах.</div>

      <label for="weight">Вес</label>
      <input type="number" class="input-field" name="weight" [(ngModel)]="selectedUser.userData.weight" #weight="ngModel" min="20" max="250" pattern="[0-9]{2,3}"/>
      <div *ngIf="f.submitted && !weight.valid" class="help-block">Введите вес в килограммах.</div>

      <label for="birthdate">Дата рождения</label>
      <input type="date" class="input-field" name="birthdate" [ngModel]="selectedUser.userData.birthdate"  (ngModelChange)="selectedUser.userData.birthdate = $event" #birthdate="ngModel"/>
      <div *ngIf="f.submitted && !birthdate.valid" class="help-block">Введите дату в формате дд.мм.гггг .</div>

      <label for="gender">Пол</label>
      <select class="input-field" name="gender" [(ngModel)]="selectedUser.userData.gender" #gender="ngModel">
        <option value="MALE" >Мужской</option>
        <option value="FEMALE">Женский</option>
      </select>
      <div *ngIf="f.submitted && !gender.valid" class="help-block">Пол обязателен</div>

      <button  type="submit" class="button-bordered">Сохранить</button>
    </form>
  </div>
</modal>