.userDataContainer{
  width: 100%;
  padding: 20px 40px;
  .table-userData{
    width: 100%;
    td,th{
      min-width: 50px;
      width: auto;
    }
    th{
      text-align: center;
    }
    td{
      &:last-child, &:nth-last-child(2){
        border-color: white;

      }
      button{
        min-width: 100%;
      }
    }
  }
}
tr, td, th{
  border-bottom: 1px solid grey;
  border-collapse: collapse;
}

@media screen and(max-width: 1050px) {
  .userDataContainer{
    padding: 30px 0px;
    .table-userData{
      overflow: hidden;
      tr, td, th{
        border: none;
      }
      tr{
        display: block;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid black;
      }
      th{
        display: none;
      }
      td{
        display: inline-block;
        width: 100%;
        padding: 0px 10px;
        &:before {
          content: attr(data-th)": ";
          font-weight: bold;
        }
        &:last-child, &:nth-last-child(2){
          button{
            margin: 10px 0px;
          }

          &:before {
            content: attr(data-th)"";
          }
        }
      }
    }
  }
}