<div class="userDataContainer">
  <table class="table-userData">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>E-mail</th>
      <th>Логин</th>
      <th>Пароль</th>
      <th>Этап</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td data-th="ID">{{user.id}}</td>
      <td data-th="Имя">{{user.name}}</td>
      <td data-th="Фамилия">{{user.surname}}</td>
      <td data-th="E-mail">{{user.email}}</td>
      <td data-th="Логин">{{user.login}}</td>
      <td data-th="Пароль">{{user.password}}</td>
      <td data-th="Этап">{{user.stage}}</td>
    </tr>
    </tbody>
  </table>

</div>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>