<table>
    <thead>
    <tr>
        <th>Логин</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Группа</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <td>{{user.login}}</td>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.groupId}}</td>
        <td><group-select (notify)="onSelectNotification($event, user)" [selectedGroupId]="user.groupId"></group-select></td>
        <td><button (click)="onGroupSubmit(user)">Применить</button></td>
    </tr>
    </tbody>
</table>