<h2>Создание группы</h2>
<group-creator (notify)="onGroupsUpdatedNotification($event)"></group-creator>

<div class="table-wrapper">
    <h2>Назначение пользователей в группы</h2>
    <table>
        <thead>
        <tr>
            <th>Логин</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Группа</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td data-th="Логин">{{user.login}}</td>
            <td data-th="Имя">{{user.name}}</td>
            <td data-th="Фамилия">{{user.surname}}</td>
            <td ><group-select (notify)="onSelectNotification($event, user)" [selectedGroupId]="user.groupId" [groups]="groups"></group-select></td>
            <td><button (click)="onGroupSubmit(user)" class="button-bordered">Применить</button></td>
        </tr>
        </tbody>
    </table>
</div>

<group-editor></group-editor>