@import "mixins";
body{
  background: $color-background;
  background: linear-gradient(to bottom, #e1ffce 0%,#acd17d 100%,#547f51 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
  height: 100%;
  min-height: 100vh;

}
header{
  @include flex(row, center, center);
  margin: 20px 0;
  .header-logo{
    width: 50px;
    height: 50px;
    margin: 0px 5px;
  }
  .header-info{
    h5{
      margin: 0;
    }
    p{
      margin: 0;
    }
  }
}
content{
  display: block;
  margin: 10px 5px 60px 5px;
  padding: 20px;
  min-height: calc(100vh - 50px - 65px - 90px);
  background: white;
  border: 1px solid $color-border;
  border-radius: 2px;
}
footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.1);
  background: rgba(0,0,0,0.1);
  color: white;
  padding: 5px 0px;
  text-shadow: 0px 0px 2px black;
  text-align: center;
  .footer-link{
    text-decoration: none;
    color: white;
    &:hover{
      color: $color-lightgreen;
    }
  }
}
p{
  &.error{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    color: red;
    padding: 5px 10px;
  }
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442
}

.button-bordered{

  color: $color-green;
  font-weight: 300;
  border: none;
  outline: none;
  lint-height: 1.25rem;
  padding: 0.3rem 0.75rem;
  min-width: 100px;
  background: transparent;
  border: 1px solid $color-green;
  border-radius: 0.1rem;
  cursor: pointer;
  &:disabled{
    color: lightgray;
    border: 1px solid lightgray;
  }
}

.input-field {
  display: block;
  width: 100%;
  padding: 0.3rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.1rem;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  &:focus{
    border: 1px solid lightblue;
    outline: none;
  }
  &:hover{
    border: 1px solid lightblue;
    outline: none;
  }
}
@media(max-width: 768px){
  .hidden-mobile{
    display: none;
  }
}

h2, h3{
  color: green;
}
