.table-wrapper{
  width: 100%;
  margin-top: 20px;
  @include flex(column,center,center);
}
table{
  width: 100%;
  td,th{
    text-align: center;
    min-width: 50px;
    width: auto;
  }
  th{
    text-align: center;
  }
  td{
    &:last-child, &:nth-last-child(2){
      border-color: white;
    }
    button{
      min-width: 100%;
    }
  }
}
tr, td, th{
  border-bottom: 1px solid grey;
  border-collapse: collapse;
}
@media screen and(max-width: 1050px) {
    table{
      overflow: hidden;
      tr, td, th{
        border: none;
      }
      tr{
        display: block;
        width: 100%;
        margin: 0;
        border-bottom: 1px solid black;
      }
      th{
        display: none;
      }
      td{
        text-align: left;
        display: inline-block;
        min-width: 100px;
        width: 100%;
        padding: 0px 10px;
        &:before {
          content: attr(data-th)": ";
          font-weight: bold;
        }
        &:last-child, &:nth-last-child(2){
          button{
            margin: 10px 0px;
          }

          &:before {
            content: attr(data-th)"";
          }
        }
      }
    }
}