$color-main: #33999f;
$color-yellow : rgba(255, 255, 0, 0.9);
$color-banner:rgba(41, 43, 44, 0.8);

$color-green:  rgb(101, 168, 115);
$color-orange: rgb(255, 127, 75);

$color-purple: rgb(94, 88, 128);

$color-darkyellow:  #ffd015;
