@import "../../../assets/styles/variables";

.navbar{
  width: 100vw;
  background: $color-green;
  height: 50px;
  margin: auto;
  border: 1px solid $color-green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-item{
  margin: 0px 10px;
  text-decoration: none;
  color: $color-lightgreen;
  text-shadow: 1px 1px 2px black;
  &.active{
    color: white;
  }
  .nav-text{
    color: $color-lightgreen;
    &.active{
      color: white;
    }
  }
}
.side-menu {
  display: block;
  visibility: hidden;
  position: fixed;
  top: 0;

  background-color: $color-green;
  min-width: 160px;
  min-height: 100vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: 0.5s all ease;
  &.opened {
      visibility: visible;
  }
  .user-info{
    width: 100%;
    text-align: center;
    color: $color-lightgreen;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255,255,255,0.1);
    border-bottom: 1px solid $color-lightgreen;
  }
  .nav-item{
    &.active{
      background-color: rgba(0,0,0,0.1);
      text-shadow: 0 0 4px grey;
      border-left: 4px solid white;
    }
    &:hover{
      border-left: 4px solid $color-lightgreen;
    }
    border-left: 4px solid transparent;
    transition: 0.3s all ease;
    margin: 0;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
  }
}
.menu-toggle{
  cursor: pointer;
  display: inline-block;

}
@media(min-width: 768px){
  .side-menu {
    right: -100%;
    &.opened {
      right: 0;
      visibility: visible;
    }
  }

}
@media(max-width: 768px){
  .navbar{
    justify-content: space-between;
  }
  .nav-text > .fa{
    font-size: 2em;
  }
  .side-menu {
    visibility: hidden;
    left: -100%;
    transition: 0.5s all ease;
    &.opened {
      left: 0;
      visibility: visible;
    }
  }
}
@media(max-width: 768px) and (orientation: landscape){
  .side-menu {
   overflow: scroll;
    height: 100vh;
  }
}