@import "../../../assets/styles/variables";

.navbar{
  width: 100vw;
  background: $color-main;
  height: 50px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-item{
  margin: 0px 10px;
}