<div>
    <div *ngFor="let article of articles" class="article-list">
        <div class="article">
            <h2>{{article.title}}</h2>
            <p>{{article.content}}</p>
            <div *ngIf="currentUser && (currentUser.role === 'ADMIN' || currentUser.role === 'COACH')">
                <button (click)="editArticle(article)" class="button-bordered"><span class="fa fa-pencil"></span></button>
                <button (click)="deleteArticle(article.id)" class="button-bordered"><span class="fa  fa-trash-o"></span></button>
            </div>
        </div>
    </div>
    <button (click)="loadMore()">Загрузить ещё</button>
</div>

<modal>
    <div class="m-header">
        <h3>Редактирование статьи</h3>
    </div>
    <div class="m-body">
        <form name="form" (ngSubmit)="f.form.valid && submitEditedArticle()" #f="ngForm" novalidate>
            <label for="title">Название</label>
            <input type="text" class="input-field" name="title" [(ngModel)]="editedArticle.title" #title="ngModel" required />
            <div *ngIf="f.submitted && !title.valid" class="help-block">Введите название статьи.</div>

            <label for="content">Текст статьи</label>
            <textarea type="text" class="input-field" name="content" [(ngModel)]="editedArticle.content" #content="ngModel" required> </textarea>
            <div *ngIf="f.submitted && !content.valid" class="help-block">Введите содержимое статьи.</div>

            <button  type="submit" class="button-bordered">Сохранить</button>
        </form>
    </div>
</modal>