<div>
    <div  class="article-list">
        <div  class="article" *ngFor="let article of articles">
            <div class="article-data">
                <p class="article-date">{{article.createdAt |  date: 'dd.MM.yyyy, hh:mm'}}</p>
                <h2 class="article-title">{{article.title | ellipsis: 10}}</h2>
                <p class="article-introtext">{{article.content | ellipsis: 150}}</p>
            </div>
            <div  class="article-buttons">
                <button (click)="showArticle(article)" class="button-bordered"><span class="fa fa-eye"></span></button>
                <button *ngIf="currentUser && (currentUser.role === 'ADMIN' || currentUser.role === 'COACH')" (click)="editArticle(article)" class="button-bordered"><span class="fa fa-pencil"></span></button>
                <button *ngIf="currentUser && (currentUser.role === 'ADMIN' || currentUser.role === 'COACH')" (click)="deleteArticle(article.id)" class="button-bordered"><span class="fa  fa-trash-o"></span></button>
            </div>
        </div>
    </div>
    <div class="article-loader-button-container">
        <button (click)="loadMore()" [disabled]="articles.length >= totalAmount" type="submit" class="button-bordered">Загрузить ещё</button>
    </div>
</div>

<modal #edit>
    <div class="m-header">
        <h3>Редактирование статьи</h3>
    </div>
    <div class="m-body">
        <form name="form" (ngSubmit)="f.form.valid && submitEditedArticle()" #f="ngForm" novalidate>
            <label for="title">Название</label>
            <input type="text" class="input-field" name="title" [(ngModel)]="editedArticle.title" #title="ngModel" required />
            <div *ngIf="f.submitted && !title.valid" class="help-block">Введите название статьи.</div>

            <label for="content">Текст статьи</label>
            <textarea type="text" class="input-field" name="content" [(ngModel)]="editedArticle.content" #content="ngModel" required> </textarea>
            <div *ngIf="f.submitted && !content.valid" class="help-block">Введите содержимое статьи.</div>
            <br>
            <button  class="button-bordered">Сохранить</button>
        </form>
    </div>
</modal>


<modal #read class="view-article-form">
    <div class="m-header">
        <h3>{{articleToRead.title | ellipsis: 25}}</h3>
    </div>
    <div class="m-body">
        <div class="article-full-content">{{articleToRead.content}}</div>
    </div>
</modal>