@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";
.article-list{
  @include flex(row, flex-start, center);
  width: 100%;
  flex-wrap: wrap;
  .article{
    width: 400px;
    max-width: 100vw;
    padding: 10px;
    margin: 10px;
    min-height: 250px;
    background: white;
    border: 1px solid $color-green;
    border-radius: 3px;
    .article-data{
      width: 100%;
    }
    @include flex(column, flex-start, space-between);
    .article-title, .article-introtext{
      word-wrap: break-word;
    }
    .article-title{
      color: $color-green;
    }
    .article-buttons{
      padding-top: 10px;
      border-top: 1px solid $color-green;
      @include flex(row, space-around,center);
      width: 100%;
      button{
        max-width: 30%;
        margin: 1%;
      }
    }
  }
}

.article-full-content{
  word-wrap: break-word;
}

.article-loader-button-container{
  width: 100%;
  @include flex(row, center, center);
  margin: 10px 0px;
}