@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";
.article-list{
  @include flex(row, flex-start, center);
  width: 100%;
  flex-wrap: wrap;
  .article{
    width: 400px;
    padding: 10px;
    margin: 10px;
    min-height: 250px;
    background: white;
    border: 1px solid $color-border;
    border-radius: 2px;
    .article-data{
      width: 100%;
    }
    @include flex(column, flex-start, space-between);
    .article-title, .article-introtext{
      word-wrap: break-word;
      word-break: break-all;
      overflow: hidden;
    }
    .article-title{
      color: $color-green;
    }
    .article-date{
      color: grey;
      font-size: 0.8em;
      margin-bottom: 0;
    }
    .article-buttons{
      padding-top: 10px;
      border-top: 1px solid $color-green;
      @include flex(row, space-around,center);
      width: 100%;
      button{
        max-width: 30%;
        margin: 1%;
      }
    }
  }
}

.article-full-content{
  word-wrap: break-word;
  word-break: break-all;
}

.article-loader-button-container{
  width: 100%;
  @include flex(row, center, center);
  margin: 10px 0px;
}

.view-article-form{
  .m-body {
    min-height: 50vh;
  }
}

@media (max-width: 768px){
  .article-list{
    margin-top: 20px;
    .article{
      width: 100vw;
      margin: 0;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-border;
      .article-buttons{
        button{
          width: 25%;
          min-width: 25px;
        }
      }
    }
  }

}